{% comment %}
  Advertising box at the top of a workshop website home page.
{% endcomment %}
<div class="jumbotron">
  <div class="row">
   <div class="col-md-10 col-md-offset-1">
      <div class="row">
	<div class="col-xs-2 col-md-3 column banner">
	  <a href="http://cfm.ehu.eus" title="Materials Physics Center">
	    <img alt="Materials Physics Center banner" src="img/cfm-banner.png" />
	  </a>
	</div>
<!--
	<div class="col-xs-2 col-md-2 column banner">
	  <a href="http://dipc.ehu.eus" title="Donostia International Physics Center">
	    <img alt="Donostia International Physics Center" src="img/dipc-banner.png" />
	  </a>
	</div>
-->
	<div class="col-xs-2 col-md-2 column banner">
	  <a href="http://www.csic.es" title="Consejo Superior de Investigaciones Científicas">
	    <img alt="Consejo Superior de Investigaciones Científicas" src="img/csic-banner.png" />
	  </a>
	</div>
	<div class="col-xs-2 col-md-2 column banner">
	  <a href="http://www.ehu.eus" title="University of the Basque Country">
	    <img alt="University of the Basque Country banner" src="img/ehu-banner.png" />
	  </a>
	</div>
  </div>
  <h2>{{page.venue}} <br><a href="https://software-carpentry.org">Software Carpentry Workshop</a></h2>
      <div class="row">
        <div class="col-md-6">
	  <!--<p>{{page.humandate}}</p>
          <p>{% if page.humantime %}{{page.humantime}}{% endif %}</p>
	  -->
	  <p><a href=http://cfm.ehu.es>CFM</a> Computer Room SSB-008A</p>
          <p>5, 10, 13, 18 and 19th  December 2018<br>
          9:00h - 13:00h (separated morning sessions)</p>
        </div>
        <div class="col-md-6">
          <p>
          <strong>Instructors:</strong>
          {% if page.instructor %}
          {{page.instructor | join: ', ' %}}
          {% else %}
          to be announced.
          {% endif %}
          </p>
          {% if page.helper %}
          <p>
          <strong>Helpers:</strong>
          {{page.helper | join: ', ' %}}
          </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
