<div class="row">
  <div class="col-md-6">
    <h3>The UNIX Shell</h3>
    <h4>Day 1 -   Wed, Dec. 5th</h4>
    <table class="table table-striped">
      <tr> <td>08:45</td>  <td>Software setup and account signup</td> </tr>
      <tr> <td>09:00</td>  <td>Welcome Address<i>(IAM)</i></td> </tr>
      <tr> <td>09:10</td>  <td>Introduction to the Unix shell <i>(DL)</i></td> </tr>
      <tr> <td><em>10:45</em></td>  <td><em>Coffee break</em></td> </tr>
      <tr> <td>11:15</td>  <td>Introduction to the Unix shell (continued) <i>(DL)</i></td> </tr>
      <tr> <td>13:00</td>  <td>Wrap up <i>(IAM)</i></td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Version Control with Git</h3>
    <h4>Day 2 - Mon, Dec. 10th</h4>
    <table class="table table-striped">
      <tr> <td>08:45</td>  <td>Software setup and account signup</td> </tr>
      <tr> <td>9:00</td>  <td>Version control with Git basics<i>(IAM)</i></td> </tr>
      <tr> <td><em>10:45</em></td>  <td><em>Coffee Break</em></td> </tr>
      <tr> <td>11:15</td>  <td>Version control with Git: GitHub repositories <i>(IAM)</i></td> </tr>
      <tr> <td>13:00</td>  <td>Wrap Up <i>(IAM)</i></td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Introduction to Python</h3>
    <h4>Day 3 - Thu, Dec. 13th</h4>
    <table class="table table-striped">
      <tr> <td>08:45</td>  <td>Software setup and account signup</td> </tr>
      <tr> <td>09:00</td> <td>Introduction to Python <i>(SS)</i></td> </tr>
      <tr> <td><em>10:45</em></td> <td><em>Coffee break</em></td> </tr>
      <tr> <td>11:15</td> <td>Introduction to Python (continued) <i>(SS)</i></td> </tr>
      <tr> <td>13:00</td> <td>Wrap up <i>(IAM)</i></td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Introduction to Python (II)</h3>
    <h4>Day 4 - Wed, Dec. 18th</h4>
    <table class="table table-striped">
      <tr> <td>08:45</td>  <td>Software setup and account signup</td> </tr>
      <tr> <td>09:00</td> <td>Introduction to Python (II) <i>(DDS)</i></td> </tr>
      <tr> <td><em>10:45</em></td> <td><em>Coffee break</em></td> </tr>
      <tr> <td>11:15</td> <td>Introduction to Python (II) (continued) <i>(DDS)</i></td> </tr>
      <tr> <td>13:00</td> <td>Wrap up <i>(IAM)</i></td> </tr>
    </table>
  </div>
 </div>
<div class="row">
  <div class="col-md-6">
    <h3>Scientific Python for physics</h3>
    <h4>Day 5 - Thu, Dec. 19th</h4>
    <table class="table table-striped">
      <tr> <td>08:45</td>  <td>Software setup and account signup</td> </tr>
      <tr> <td>09:00</td> <td>Scientific Python ecosystem: notebooks, numpy, scipy, matplotlib <i>(IAM)</i></td> </tr>
      <tr> <td><em>10:45</em></td> <td><em>Coffee break</em></td> </tr>
      <tr> <td>11:15</td> <td>Data analysis examples with real data <i>(IAM)</i></td> </tr>
      <tr> <td>13:00</td> <td>Wrap up <i>(IAM)</i></td> </tr>
    </table>
  </div>
 </div>
